<!DOCTYPE html>
<html>
  <head>
    <title>NewRecipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.min.js"></script>
  </head>




<nav class="navbar navbar-default">
  
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to "Recipe App", root_path, class: 'navbar-brand' %></li>
      <li><%= link_to 'New Recipe', new_recipe_path %></li>
      <li><%= link_to "About", pages_about_path %></li>
    </ul>
  </div><!--container-fluid"-->

</nav>



  <body>
    <%= yield %>
  </body>
</html>
